div{
    display: inline-block;
}
#outer{
    background-color: rgb(111, 75, 30);
    position: fixed;
    height: 50px;
    width: 100%;
    margin-left:-8px;
    
    top: 0;
}
.Head{margin-right:310px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin-left: 20px;
margin-top: 16px;
text-align: center;}
p{margin-top: 50px;
}
#logo{font-size: 20px;
font-family: 'Courier New', Courier, monospace;
font-weight: 500;}
